<div class="background-image">
<main class="box">
  <h2>Register</h2>
  <form>
    <div class="inputBox">
      <label for="userName">Username</label>
      <input type="text" name="userName" id="userName" placeholder="Type your username" required />
    </div>
    <div class="inputBox">
      <label for="userPassword">Password</label>
      <input type="password" name="userPassword" id="userPassword" placeholder="Type your password" required />
    </div>
    <div class="inputBox">
      <label for="userConfirmPassword">Confirm Password</label>
      <input type="password" name="userConfirmPassword" id="userConfirmPassword" placeholder="Confirm your password" required />
    </div>
    <button type="submit" name="" style="float: left;">Submit</button>
    <a class="button" [routerLink]="'/login'" style="float: left;">Login</a>
    <a class="button" [routerLink]="'/recettes'" style="float: left;">Visitor</a>

  </form>
</main>
</div>
<footer></footer>
